.atp-page {
  display: flex;
  flex-direction: column;
  height: auto;
  scroll-behavior: smooth;
}
/* location section stars */
.adress-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.adress {
  width: 1100px;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.adress span {
  color: #828282;
  padding-right: 8px;
  word-spacing: 3px;
}
.adress div {
  color: #696969;
  margin-right: 10px;
}
.adress span:hover {
  color: #ef4f5f;
  cursor: pointer;
}
.adress p {
  color: lightgray;
}
/* location section ends */
/*Filter section */
.filters-container {
  z-index: 3;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background-color: rgb(255, 255, 255);
}
.filter-inbox {
  width: 1100px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
}
.filter-box {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  width: 80px 100px;
}

.filter-box:hover {
  background-color: #e7e4e4;
}

.filter-box img {
  padding-left: 5px;
  height: 18px;
  width: 18px;
}

.filter-box p {
  padding: 5px 8px;
  font-size: 14px;
  color: #9c9c9c;
}
