/*  Card section starts */
.restaurents-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
} /* Skeleton styles for Card section */
.skeleton-cards {
  width: 90%;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(188, 186, 186, 0.1);
}
@keyframes fadeIn {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton-cardHeading {
  width: 45%;
  height: 30px;
  background-color: #ddd;
  border-radius: 8px;
  animation: fadeIn 1s linear infinite alternate;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.skeleton-cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.skeleton-card {
  height: 400px;
  width: calc(33% - 20px); /* Adjust the width and margin as needed */
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  border-radius: 1.3rem;
  padding: 0.5rem;
  background-color: rgb(240, 240, 240);
}

.skeleton-cardImage {
  width: 100%;
  height: 250px;
  border-radius: 1.2rem;
  background-color: #ddd;
  animation: fadeIn 1s linear infinite alternate;
  margin-bottom: 10px;
}

.skeleton-cardName {
  width: 10rem;
  height: 14px;
  background-color: #ddd;
  animation: fadeIn 1s linear infinite alternate;
  margin-bottom: 9px;
  border-radius: 5px;
}
.skeleton-cardName2 {
  width: 14rem;
  height: 14px;
  background-color: #ddd;
  animation: fadeIn 1s linear infinite alternate;
  margin-bottom: 9px;
  border-radius: 5px;
}
.skeleton-hr {
  margin-top: 0;
  color: rgb(240, 239, 239);
}
.skeleton-safety {
  height: 14px;
  width: 100%;
  animation: fadeIn 1s linear infinite alternate;
  border-radius: 10px;
  margin-bottom: 7px;
}

.skeleton-safety:last-child {
  width: 50%;
}

.restaurents-container h2 {
  height: 32px;
  font-size: 1.8rem;
  font-weight: 450;
  color: #1c1c1c;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.restaurents-container .card-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.restaurents-container .card-container .card-box {
  height: 430px;
  width: calc(33.33% - 20px); /* Adjust the width and margin as needed */
  margin: 10px 10px 1.4rem 10px; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(243, 240, 240);
}
.restaurents-container .card-container .card-box:hover {
  border: 1px solid rgb(231, 229, 229);
  box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;
  cursor: pointer;
}
.card-box .card-inbox {
  height: 98%;
  width: 100%;
}

.card-box .card-inbox .card-image {
  width: 100%;
  height: 250px;
  border-radius: 1.2rem;
}

.card-box .card-inbox .card-image img {
  height: 100%;
  width: 100%;
  border-radius: 1.2rem;
  background-position: cover;
}

.card-inbox .card-name {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0 10px 0;
  gap: 27%;
}

.card-inbox .card-name p {
  color: #1c1c1c;
  font-size: 17px;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-inbox .card-name .rating {
  width: 13%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 5px;
  gap: 2px;
}

.card-inbox .card-name .rating span {
  height: fit-content;
  width: fit-content;
  width: fit-content;
  height: 18px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.card-inbox .card-name .rating img {
  height: 9.1px;
  width: 9.1px;
}

.card-inbox .special {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
  gap: 10%;
}
.card-inbox .special p {
  color: #696969;
  font-size: 14px;
}
.card-inbox .special .special-name {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.card-inbox .card-time {
  height: 21px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #363636;
}
.card-inbox hr {
  border-color: #e8e8e8;
  margin-top: 0.5rem;
  opacity: 0.5;
}
.card-inbox .safety {
  height: 34px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.card-inbox .safety img {
  width: 48px;
  height: 18px;
}
.card-inbox .safety p {
  color: #828282;
  font-size: 12px;
  margin-left: 10px;
}

@media(max-width:1024px){
  .skeleton-card {
    height: 340px;
    width: calc(33.33% - 10px); /* Adjust the width and margin as needed */
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    border-radius: 1.3rem;
    padding: 0.5rem;
    background-color: rgb(240, 240, 240);
  }
  .skeleton-cardName{
    width: 70%;
    height: 15px;
  }
  .skeleton-safety{
    width: 80%;
  }
  .skeleton-cardName2 {
    width: 90%;
  }
  .restaurents-container h2{
    font-size: 22px;
  }
  .restaurents-container .card-container .card-box {
    height: 360px;
  }
  .card-box .card-inbox .card-image {
    width: 100%;
    height: 210px;
    border-radius: 1.2rem;
  }
  .card-inbox .card-name p{
    font-size: 13px;
  }
  .card-inbox .card-name .rating{
    height: 15px;
    overflow: none;
    width: 30px;
  }
  .card-inbox .card-name .rating span{
    height: 15px;
    font-size: 10px;
  }
  .card-inbox .special{
    width: 100%;
    justify-content: space-between;
  }
  .card-inbox .special p{
    font-size: 12px;
  }
  .card-time p{
    font-size: 12px;
  }
  .card-inbox .safety img {
    height: 12px;
    width: 20px;
  }
  .card-inbox .safety p{
    font-size: 10px;
  }
}

@media(max-width:800px){
  .skeleton-card {
    height: 270px;
    width: calc(33% - 8px); /* Adjust the width and margin as needed */
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    border-radius: 1.3rem;
    padding: 0.4rem;
    background-color: rgb(240, 240, 240);
  }
  .skeleton-cardImage {
    height: 160px;
  }
  .skeleton-cardHeading {
    width: 70%;
    height: 17px;
  }
  .skeleton-cardName{
    width: 70%;
    height: 9px;
  }
  .skeleton-safety{
    width: 80%;
    height: 9px;
  }
  .skeleton-cardName2 {
    width: 90%;
    height: 8px;
  }
  .restaurents-container h2{
    font-size: 18px;
    margin: 10px;
  }
  .restaurents-container .card-container .card-box {
    height: 250px;
  }
  .card-box .card-inbox .card-image {
    width: 100%;
    height: 150px;
    border-radius: 15px;
  }
  .card-box .card-inbox .card-image img{
    border-radius: 15px;
  }
  .card-inbox .card-name p{
    font-size: 10px;
  }
  .card-inbox .card-name{
  }
  .card-inbox .card-name .rating{
    height: 10px;
    overflow: none;
    width: 25px;
  }
  .card-inbox .card-name .rating span{
    height: 10px;
    font-size: 7px;
  }
  .card-inbox .card-name .rating img{
    height: 8px;
    width: fit-content;
  }
  .card-inbox .special{
    width: 100%;
    justify-content: space-between;
  }
  .card-inbox .special p{
    font-size: 8px;
  }
  .card-inbox .card-time{
    height: auto;
  }
  .card-time p{
    font-size: 8px;
  }
  .card-inbox .safety img {
    height: 8px;
    width: 14px;
  }
  .card-inbox hr{
    margin: 4px;
  }
  .card-inbox .safety p{
    font-size: 6px;
  }
  .restaurents-container .card-container .card-box{
    margin: 0 0 10px 0;
    width: calc(33.33% - 10px); 
    padding: 4px;
    border-radius: 20px;/* Adjust the width and margin as needed */
  }
}

@media(max-width:500px){
  .skeleton-card {
    height: 230px;
    width: calc(48% - 8px); /* Adjust the width and margin as needed */
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    border-radius: .7rem;
    padding: 0.4rem;
    background-color: rgb(240, 240, 240);
  }
  .skeleton-cardImage {
    height: 120px;
    border-radius: 10px;
  }
  .skeleton-cardHeading {
    width: 70%;
    height: 13px;
  }
  .skeleton-cardName{
    width: 70%;
    height: 6px;
  }
  .skeleton-safety{
    width: 80%;
    height: 6px;
  }
  .skeleton-cardName2 {
    width: 90%;
    height: 6px;
  }
  .restaurents-container h2{
    font-size: 16px;
    margin: 10px;
  }
  .restaurents-container .card-container .card-box {
    height: 230px;
  }
  .card-box .card-inbox .card-image {
    width: 100%;
    height: 120px;
    border-radius: 11px;
  }
  .card-box .card-inbox .card-image img{
    border-radius: 11px;
  }
  .card-inbox .card-name p{
    font-size: 10px;
  }
  .card-inbox .card-name{
  }
  .card-inbox .card-name .rating{
    height: 10px;
    overflow: none;
    width: 25px;
  }
  .card-inbox .card-name .rating span{
    height: 10px;
    font-size: 7px;
  }
  .card-inbox .card-name .rating img{
    height: 8px;
    width: fit-content;
  }
  .card-inbox .special{
    width: 100%;
    justify-content: space-between;
  }
  .card-inbox .special p{
    font-size: 8px;
  }
  .card-inbox .card-time{
    height: auto;
  }
  .card-time p{
    font-size: 8px;
  }
  .card-inbox .safety img {
    height: 8px;
    width: 14px;
  }
  .card-inbox hr{
    margin: 4px;
  }
  .card-inbox .safety p{
    font-size: 6px;
  }
  .restaurents-container .card-container .card-box{
    margin: 0 0 10px 0;
    width: calc(48% - 10px); 
    padding: 4px;
    border-radius: 14px;/* Adjust the width and margin as needed */
  }
}