.footer-container {
  height: 480px;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
footer {
  width: 90%;
}
.head-footer {
  display: flex;
  height: 37px;
  flex-direction: row;
  margin-bottom: 10px;
}
.head-footer img {
  height: 28px;
  width: 132px;
}
.empty {
  width: 70%;
}
.select img {
  height: 14px;
  width: 20px;
  margin-right: 10px;
}
.lang {
  display: flex;
  justify-content: flex-end;
}
.select {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: auto;
  border-radius: 5px;
  width: 109px;
}
.lang .country {
  margin-right: 20px;
}
.about {
  height: 240px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.about div {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 16.6667%;
  padding: 0px;
}
.about div h4 {
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 20px;
  letter-spacing: 3px;
  font-weight: 500;
}

.about div p {
  color: #696969;
  padding: 5px 0 5px 0;
  font-size: 0.85rem;
  font-weight: 300;
  width: fit-content;
}
.about div p:hover {
  color: #000000;
  cursor: pointer;
}

.social-links .social-images {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
  margin-bottom: 15px;
}
.social-links .social-images img {
  height: 23px;
  width: 23px;
  cursor: pointer;
}
.about .social-links .image {
  width: 137px;
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}
hr {
  color: #696969;
  margin-top: 60px;
  margin-bottom: 10px;
  opacity: 0.6;
}
.rights {
}
.rights p {
  margin-top: 20px;
  color: #696969;
  font-size: 0.8rem;
  font-weight: 300;
}
@media(max-width:1024px){

  .about div h4{
    font-size: 11px;
  }
  .about div p{
    font-size: 11px;
  }
  .about .social-links .image {
    width: 100px;
    height: 30px;
  }
  .social-links .social-images{
    gap: 2px;
  }
  .social-links .social-images img {
    height: 20px;
  }
  .rights p {
    font-size: 11px;
  }
  .select{
    width: 80px;
  }
  .select img{
    width: 15px;
    margin-right: 5px;
  }
  .select span{
    font-size: 12px;
  }
}

@media(max-width:800px){

  .head-footer img{
    width: 100px;
    height: fit-content;
  }

  .about div h4{
    font-size: 10px;
    letter-spacing: 1px;
  }
  .about div p{
    font-size: 9px;
  }
  .about .social-links .image {
    width: 80px;
    height: fit-content;
  }
  .social-links .social-images{
    gap: 2px;
  }
  .social-links .social-images img {
    height: 15px;
  }
  .rights p {
    font-size: 8px;
  }
  .select{
    width: 60px;
    height: fit-content;
    padding: 4px 6px;
  }
  .select img{
    width: 13px;
    margin-right: 5px;
  }
  .select span{
    font-size: 10px;
  }
}

@media(max-width:500px){
  .footer-container{
    height: auto;
  }
  .about div{
    max-width: 17%;
    justify-content: space-between;
  }
  .head-footer{
    height: auto;
    margin:0;
    padding: 15px 0 5px 0;
  }
  .head-footer img{
    width: 80px;
    height: fit-content;
  }
  footer{
    height: fit-content;
  }
  .about {
    height: 150px;
    gap: 0px;
  }
  .about div h4{
    font-size: 7px;
    letter-spacing: .5px;
  }
  .about div p{
    font-size: 6px;
  }
  .about .social-links .image {
    width: 50px;
    height: fit-content;
  }
  .social-links .social-images{
    gap: 1px;
  }
  .social-links .social-images img {
    height: 9px;
  }
  .rights p {
    font-size: 6px;
    margin: 10px 0 20px 0;
  }
  .select{
    width: 50px;
    height: fit-content;
    padding: 2px 6px;
  }
  .select img{
    width: 10px;
    margin-right: 5px;
  }
  .select span{
    font-size: 7px;
  }
}