.getapp-page {
  width: 100%;
  height: auto;
}
.getapp-page header {
  width: 100%;
  height: 72px;
  overflow: hidden;
  padding: 0;
  margin-bottom: 110px;
  border-bottom: 1px solid rgb(237, 235, 235);
}
.header-container {
  height: 72px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-container .header-logo {
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 110px;
  margin-right: 110px;
}
.header-container .header-logo img {
  height: 30px;
  width: 140px;
  cursor: pointer;
}
.header-text {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  gap: 35px;
}
.header-text p {
  font-size: 1.1rem;
  color: #696969;
  font-weight: 300;
  cursor: pointer;
}
.header-text p:hover {
  color: #000000;
}
.getapp-page .mobileapp-container {
  width: 100%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  background-color: #ffffff;
}

.mobileapp-data {
  width: 900px;
  height: 450px;
}
.get-zomato-image {
  height: 450px;
  width: 410px;
  overflow: hidden;
  padding: 0;
}
.get-zomato-image img {
  height: 450px;
  width: 410px;
}

.app-info {
  width: 450px;
  margin-left: 1rem;
  padding-left: 10px;
}
.app-heading h2 {
  font-size: 2.6rem;
  margin-top: 30px;
  font-weight: 500;
  color: #363636;
}
.app-heading p {
  font-size: 0.95rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 35px;
  line-height: 30px;
}
.contact {
  font-size: 0.95rem;
}
.contact label {
  padding: 0 70px 0 0;
}
input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.4);
  accent-color: #ef4f5f;
}

.contact-email input {
  border: 1px solid lightgray;
  height: 48px;
  padding-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  width: 60%;
  color: gray;
  outline: none;
}
.contact-email button,
.contact-number button {
  height: 48px;
  width: 36%;
  border: none;
  font-size: 0.9rem;
  color: white;
  padding: 0 5px 0 5px;
  background-color: #ef4f4f;
  opacity: 0.9;
  border-radius: 0.6rem;
  outline: none;
}
.contact-email button:hover,
.contact-number button:hover {
  opacity: 1;
  cursor: pointer;
}
.contact-number {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.contact-box {
  width: 60%;
  height: 48px;
  padding: 0;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 0.6rem;
  margin-right: 10px;
}
.contact-box select {
  margin: 0;
  height: inherit;
  border: none;
  font-size: 0.9rem;
  width: 20%;
  overflow: hidden;
  outline: none;
  color: rgb(89, 85, 85);
}
.contact-box input {
  height: 100%;
  width: 80%;
  border: none;
  overflow: hiden;
  font-size: 0.9rem;
  padding-left: 20px;
  outline: none;
}
.store {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin-top: 20px;
}
.store p {
  height: fit-content;
  font-size: 1rem;
  color: gray;
  margin-top: 10px;
  margin-bottom: 15px;
}
.store-images {
  display: flex;
  height: 60%;
}
.image {
  height: 40px;
  width: 137;
  padding: 0;
  margin-right: 20px;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
